.learning-status {
    background-color: #dbd8d3;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.learning-status h2 {
    margin-top: 0px;
}

.progress-bar {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 10px;
}

.progress-bar-fill {
    height: 20px;
    background-color: #fe8c3e;
    width: 0%;
    border-radius: 8px;
    transition: width 0.3s ease-in-out;
}
